

* {
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*border: 7px dashed green;*/
    min-height: 100%;
    background-color: #f8f5e9;
    color:#071519;
    font-family: monospace, fantasy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
    /*border: 3px dotted blue;*/
    min-height: 100%;
}

img {
    border-radius: 45%;
    box-shadow: 2px 2px 17px black;
    max-width: 100%;
    max-height: 100%;
}

.image_logo {
    position: absolute;
    right: 70px;
    top: 47px;
}

.image_logo_about {
    position: absolute;
    right: 27px;
    top: 25px;
    width: 70px;
    height: 70px
}

.image_logo_contact {
    position: absolute;
    right: 27px;
    top: 25px;
    width: 70px;
    height: 70px
}


.welcome_note {
    font-size: 2em;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 45%;
    left: 40%;
    right: 40%;
    bottom: 45%;
    
}
.navigation {
    margin: 27px 37px;

}

.footer{
    text-align: center;
    background-color: #071519;
    color: #f8f5e9;
    padding: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.about_div {
    text-align: center;
    vertical-align: middle;
    padding: 27px;
    margin-top: 170px;
    margin-left: 300px;
    margin-right: 300px;

}

.about_nav {
    margin: 27px 37px;
}

.nav_line {
    background-color: #071519;
    border: 1px solid black;
    position: absolute;
    left: 200px;
    height: 87%;
    bottom:0%
}

.about_nav_line {
    background-color: #071519;
    border: 1px solid black;
    position: absolute;
    bottom: 87%;
    width: 100%;
}

a {
    color:#071519;
    text-decoration: none;
}

a:hover {
    color: #c46f00;
}

.contact_h1 {
    text-align: center;
}

.contact_form {
    display: block;
}

.contact_nav {
    margin: 27px 37px;
}

.contact_nav_line {
    background-color: #071519;
    border: 1px solid black;
    position: absolute;
    bottom: 87%;
    width: 100%;
}

.contact_form_div {
    font-size: larger;
    padding-top: 17px;
}


form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
  }

  input, textarea {
    margin: 10px 0 17px 0;
    width: 100%;
    min-height: 4em;
  }




