

* {
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*border: 7px dashed green;*/
    min-height: 100%;
    background-color: #f8f5e9;
    color:#071519;
    font-family: monospace, fantasy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
    /*border: 3px dotted blue;*/
    min-height: 100%;
}

img {
    border-radius: 45%;
    box-shadow: 2px 2px 17px black;
}

.image_logo {
    position: absolute;
    right: 70px;
    top: 47px;
}

.welcome_note {
    font-size: 2em;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 45%;
    left: 40%;
    right: 40%;
    bottom: 45%;
    
}
.navigation {
    position: absolute;
    top: 40%;
    bottom: 47%;
    padding: 27px 10px 27px 10px;
}

.footer{
    text-align: center;
    background-color: #071519;
    color: #f8f5e9;
    padding: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.about_div {
    text-align: center;
    vertical-align: middle;
    padding: 27px;
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 300px;

}

.about_nav {
    margin: 27px 37px;
}
